@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome KLOVE!</h1>
</div>

<div class="text-center">
    <p>


    </p>
    <p>
        * Use of C#, ASP.NET CORE MVC, and Entity Framework CORE
    </p>
    <p>
        * CRUD for Departments
    </p>
    <p>
        * CRUD for Employees (including contact information)
    </p>
    <p>
        * Ability to associate an Employee with a Department
    </p>
    <p>
        * Ability to view a list of all Employees in a Department
    </p>
    <p>
        * A non-ugly UI (Debatable)
    </p>
</div>


